html,
body,
blockquote {
    font-family: 'Lato',sans-serif;
    font-size: 1em;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

dl {
    margin-bottom: auto;
}
dt {
    margin-top: .25em;
}

main {
    margin-bottom: 2em;
}
header,
footer {
    background-color: #eae5e3;
    border-color: #c4c2c1;
}
footer {
    border-top-style: solid;
    border-top-width: 1px;
    font-size: .9em;
    padding: 1em 0;
}
footer a {
    color: #7a7a7a;
}
footer ul {
    margin: 0;
}
footer ul li {
    display: inline-block;
    margin-left: 2em;
    margin-right: .5em;
}
@media (max-width: 767px) {
    footer .text-right,
    footer .text-left {
        text-align: center;
        padding-bottom: .5em;
    }
}

nav.secondary {
    font-size: .95em;
    margin-top: 3.8em;
    text-align: center;
}
nav.secondary ul {
    list-style: none;
    padding: 0;
}
nav.secondary li {
    display: inline-block;
    margin: 0 .5em;
}
nav.secondary a {
    padding: .5em;
}

h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
.user-menu,
.user-menu:hover,
.user-menu:focus,
.user-menu:active {
    color: #333;
    background-color: transparent !important;
}

.tagline {
    font-size: 1.1em;
    font-style: oblique;
    font-weight: normal;
    margin-top: .7em;
}

.tagline,
.socialaccount_provider {
    text-shadow: 4px  4px 4px rgba(196, 194, 193, .3),
                 4px -4px 4px rgba(196, 194, 193, .3),
                -4px -4px 4px rgba(196, 194, 193, .3),
                -4px  4px 4px rgba(196, 194, 193, .3),
                -4px  4px 4px rgba(196, 194, 193, .3);
    transition: all 1s;
}
.socialaccount_provider:active,
.socialaccount_provider:hover {
    text-shadow: none;
    transition: all 1s;
}

.navbar {
    background-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: .05em;
    border-color: inherit;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    padding-top: .5rem;
    line-height: 1.25em;
    margin: 0 0 1.1em .75em;
}
.navbar-brand,
.logo,
.brand {
    height: 1.3em;
}
.navbar-brand a {
    font-size: 1.35em;
    text-decoration: none;
}
.navbar-brand .brand {
    position: relative;
    top: .15em;
}
.navbar-nav {
    line-height: 1.2em;
    padding: .1em;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    left: initial;
    right: 0;
    margin: -0.1em -0.1em 0 -0.6em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-nav .dropdown-item {
    font-size: .875em;
}
.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item.active {
    background-color: #f8f9fa;
    color: #212529;
}

.user-menu {
    float: right;
    padding: .25em 1em !important;
    white-space: nowrap;
}
.user-menu .username {
    font-weight: bold;
}
.user-menu .realname {
    font-size: .8em;
    margin-right: 3.5em;
}
.user-menu .avatar {
    font-size: 2.3em;
    float: right;
}

@media (max-width: 767px) {
    .navbar-brand {
        position: absolute;
        top: .1em;
        z-index: 100;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav .show .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
}

.socialaccount_ballot {
    text-align: center;
    padding-bottom: 3em;
}

@keyframes flash_buttons {
    0% {
        transform: scale(1, 1);
    }
    20% {
        transform: scale(1.03, 1.03);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
.socialaccount_ballot .socialaccount_provider {
    animation: 1s ease-out 0s 1 flash_buttons;
}

.socialaccount_providers {
    margin: 4.5em 0 3em 0;
}

.socialaccount_providers li {
    list-style: none;
    display: inline;
}

.socialaccount_provider {
    font-size: 1.35em;
    margin: .3em 2em .3em 0;
    min-width: 12em;
}

.socialaccount_provider .fab {
    margin: 0 .5em 0 .1em;
}

.socialaccount_provider.bitbucket_oauth2 {
    background-color: #5da1e7;
}
.socialaccount_provider.github {
    background-color: #eae5e3;
}
.socialaccount_provider.gitlab {
    background-color: #fca326;
}

.messages {
    margin: 3.4em 0 -3.4em 0;
    padding: 0;
}
.messages ul {
    margin: 0;
    padding: 0;
}
.messages li {
    list-style: none;
    padding: .2em .6em;
}
.messages .info {
    background-color: #cbe8ea;
}
.messages .success {
    background-color: #f5eee0;
}
.messages .warning {
    background-color: #f5f4c1;
}
.messages .error {
    background-color: #ffac9b;
}

.project-list .title .edit {
    display: none;
}
.project-list .title:hover .edit,
.project-list .title:active .edit {
    display: inline;
}
.project-list .properties ul {
    list-style: none;
    padding: 0;
}
.project-list .properties ul > li {
    display: inline;
}
.project-list .properties .created,
.project-list .properties .last-modified {
    display: none;
}

.project-detail .btn.delete {
    margin: 0 1em;
}
.project-detail label {
    min-width: 7em;
}
.project-detail label + input,
.project-detail label + select {
    min-width: 16em;
}

.project-badge {
    color: #ffffff;
    font-family: 'Lato','Helvetica Neue','Helvetica','Arial',sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.project-badge + i {
    color: #9f9f9f;
}
.project-badge > .subject,
.project-badge > .status {
    padding: .3em .5em;
}
.project-badge > .subject {
    background-color: #555;
    border-radius: .3em 0 0 .3em;
    text-shadow: 0 .08em 0 #404040;
}
.project-badge > .status {
    background-color: #9f9f9f;
    border-radius: 0 .3em .3em 0;
    text-shadow: 0 .08em 0 #707070;
}
.project-badge > .status.error {
    background-color: #f03010;
}
.project-badge > .status.info {
    background-color: #f0a000;
}
.project-badge > .status.okay {
    background-color: #4dc71f;
}

.background-bar {
    border-top: solid 1px #c4c2c1;
    border-bottom: solid 1px #c4c2c1;
    background: #eae5e3;
}

.features .intro {
    text-align: center;
    margin: 2em 0;
}
.features .intro h2 {
    text-shadow: 4px  4px 4px rgba(255, 255, 255, .4),
                 4px -4px 4px rgba(255, 255, 255, .4),
                -4px -4px 4px rgba(255, 255, 255, .4),
                -4px  4px 4px rgba(255, 255, 255, .4),
                -4px  4px 4px rgba(255, 255, 255, .4);
}
.features .intro p {
    font-style: normal;
}
.features nav.secondary {
    margin: 0;
}
.features .row,
.features img {
    margin: 1.2em .3em;
}
 .features img {
    filter: gray;  /* IE6-9 */
    filter: grayscale(1);  /* Microsoft Edge and Firefox 35+ */
    filter: alpha(opacity=60);  /* IE8 and earlier */
    opacity: .6;
    transition: all 2s ease 2s;
}
.features img:hover {
    filter: none;
    opacity: 1;
    transition: all 1s ease;
}
.features p {
    font-style: italic;
}
.features blockquote {
    position: relative;
    border-left-color: transparent;
}
.features blockquote:before {
    content: '\201C';
    font-size: 4.5em;
    position: absolute;
    left: -.2em;
    top: -.2em;
    color: #7a7a7a;
}
.features .img-responsive {
    border: solid #eae5e3 1px;
    box-shadow: .5em .5em .3em #9f9f9f;
}

table > caption {
    caption-side: top;
}

@media (min-width: 1200px) {
    .panel-framed {
        border-radius: .4em;
        box-shadow: 0 .1em .1em #9f9f9f;
        min-height: 9em;
    }
}
