{% extends 'content/base.html' %}
{% load i18n %}

{% block head_title %}{% blocktrans %}How It Works{% endblocktrans %}{% endblock %}

{% block content %}
{% with '&mdash; <i class="far fa-hand-point-right" aria-hidden="true"></i>' as point_to %}
{% with 'https://github.com/painless-software/painless-continuous-delivery' as cookiecutter_url %}
{% url 'content-features' as features_page %}
{% now 'Y' as this_year %}

	<div class="container">

		<h2>{% blocktrans %}How It Works{% endblocktrans %}</h2>

		<p>{% blocktrans %}
			<em>Painless Cloud</em> frees you from a few tedious, time-consuming, but
			fundamentally important things.
		{% endblocktrans%}</p>

		<h3>{% trans "Best practices, automation, and feedback" %}</h3>

		<div class="row">
			<dl class="col-lg-4 col-md-9 panel-framed">
			<dt>Best practices</dt>
			<dd>{% blocktrans %}
				You need to identify current <strong>best practices</strong> in front-end
				development, back-end development, releasing, monitoring and updating the software
				and services you write and maintain.
			{% endblocktrans%}</dd>
			</dl>

			<dl class="col-lg-4 col-md-9 panel-framed">
			<dt>Automation</dt>
			<dd>{% blocktrans %}
				You should set up local <strong>environments</strong> for developers, test and
				staging environments, automatic <strong>deployment</strong> and everything
				in-between; including <strong>notifications</strong> to the team via Slack, by
				email or a dashboard.
			{% endblocktrans%}</dd>
			</dl>

			<dl class="col-lg-4 col-md-9 panel-framed">
			<dt>Feedback</dt>
			<dd>{% blocktrans %}
				Who can tell you <strong>how good</strong> your software really is? The lower the
				quality the higher the <strong>risk of failure</strong>, during deployment and
				production. How do you <strong>fix technical debt</strong>?
			{% endblocktrans%}</dd>
			</dl>
		</div>

		<h3>{% blocktrans %}Continuous delivery made easy{% endblocktrans %}</h3>

		<p>{% blocktrans %}Here is what <em>Painless Cloud</em> does:{% endblocktrans%}</p>

		<ol>
			<li>{% blocktrans %}
				<strong>Bootstrap your CI/CD setup</strong> with a simple, yet sophisticated,
				best practice software development project layout.
				{{ point_to }} <a href="{{ cookiecutter_url }}">open source cookiecutter</a>
			{% endblocktrans%}</li>
			<li>{% blocktrans %}
				<strong>Connect you to the services</strong> you use, just with a few clicks.
				Have you add new services you need, just with a few clicks.
				{{ point_to }} <a href="{{ features_page }}">list of supported services</a>
			{% endblocktrans%}</li>
			<li>{% blocktrans %}
				<strong>Visualize KPIs</strong> of your code base and
				<strong>suggest improvements</strong>. Motivate you to walk the path of
				<em>continuous improvement</em>, create a team buzz!
				{{ point_to }} <a href="{{ features_page }}">list of features</a>
			{% endblocktrans%}</li>
			<li>{% blocktrans %}
				<strong>Manage maintenance tasks</strong>, monitoring, upgrades, infrastructure
				changes all from a single dashboard. Permissions and transparency for everyone on
				the team. {{ point_to }} <a href="{{ features_page }}">list of features</a>
			{% endblocktrans%}</li>
		</ol>

		<h3>{% blocktrans %}Open source &mdash; to ensure your freedom{% endblocktrans %}</h3>

		<div class="row">
			<div class="col-xs-9 col-sm-10 col-md-8">
				<p>{% blocktrans %}
					You should be wary of vendor lock-in. We are that too. That's why we publicly
					host the heart of our service on GitHub as free/libre &ndash; free as in beer
					and in speech &ndash; open source software.
				{% endblocktrans%}</p>
				<p>
					<i class="fab fa-github fa-2x" aria-label="GitHub" title="GitHub"></i>
					<a href="{{ cookiecutter_url }}">Painless Continuous Delivery</a> &ndash;
					<em>{% blocktrans %}grab it, it's free!{% endblocktrans %}</em>
				</p>
			</div>

			<div class="col-xs-3 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-offset-1">
				<span class="fa-stack fa-lg fa-3x"
					  aria-label="{% trans 'No vendor lock-in' %}"
					  title="{% trans 'No vendor lock-in' %}">
					<i class="fas fa-lock fa-stack-1x"></i>
					<i class="fas fa-ban fa-stack-2x text-danger"></i>
				</span>
			</div>
		</div>

		<hr/>

		<h3>{% blocktrans %}The problem you need to solve in {{ this_year }}{% endblocktrans %}</h3>

		<div class="row">
			<p class="col-md-6">{% blocktrans %}
				Software development is inherently more complex and demanding today than it was a
				decade ago. Continuous delivery, agile practices, containerization, and a vast
				amount of tools and online services address this to help us manage the increased
				architectural complexity and the need for faster and less error-prone delivery.
				&ndash; <strong>Can you keep up with the speed of this progress?</strong>
			{% endblocktrans%}</p>

			<p class="col-md-6">{% blocktrans %}
				The theory of continuous delivery says that we should create
				<em>resilient systems</em> that can recover from failures easily. It prescribes
				that we should have <em>transient environments</em> that allow us to move from
				one infrastructure to another. &ndash;
				<strong>Can you recover from a serious outage of, say, Amazon AWS?</strong>
			{% endblocktrans%}</p>
		</div>

		<div class="row">
			<blockquote class="col-lg-6 col-md-8 col-md-offset-1 col-sm-10">{% blocktrans %}
				When Amazon breaks down, can you move your service to Google Compute Engine
				or Azure within hours, if the outage lasts too long?
			{% endblocktrans %}</blockquote>
		</div>

	</div>
{% endwith %}
{% endwith %}
{% endblock %}
