{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "404 Not Found" %}{% endblock %}

{% block content %}
	<h2>{% trans "404 Not Found" %}</h2>

	<p>{% trans "We're sorry, there's just a black hole here. Nothing to show." %}</p>
{% endblock %}
