{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "500 Internal Server Error" %}{% endblock %}

{% block content %}
	<h2>{% trans "500 Internal Server Error" %}</h2>

	<p>{% trans "We're sorry, there's a serious defect in our engines. We're investigating." %}</p>

	{% if request.sentry.id %}
		<script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
		<script>
			Raven.showReportDialog({
				eventId: '{{ request.sentry.id }}',
				dsn: 'https://ac8c8411f94a406ba9a89f42edda4626@sentry.io/133570'
			});
		</script>
	{% endif %}

{% endblock %}
