<!DOCTYPE html>{% load static i18n %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block head_title %}{% endblock head_title %} · {{ request.site.name }}</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	{% include 'snippets/favicon.html' %}
	{% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block body %}
	<header>
		{% include 'snippets/navigation.html' %}
		{% include 'snippets/messages.html' %}
	</header>
	<nav class="secondary">{% block secondary-navigation %}{% endblock %}</nav>
	<main class="container-fluid">{% block content %}{% endblock %}</main>
	<aside>{% block aside %}{% include 'snippets/related.html' %}{% endblock aside %}</aside>
	<footer class="container-fluid">{% include 'snippets/footer.html' %}</footer>
{% endblock body %}
{% block extra_body %}
	<script async defer src="https://sidecar.gitter.im/dist/sidecar.v1.js"></script>
	<script defer src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script defer src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script defer src="{% static 'scripts.js' %}"></script>
{% endblock extra_body %}
</body>
</html>
