{% load i18n %}
		<ul>
			<li><a href="{% url 'content-howitworks' %}">{% trans "How It Works" %}</a></li>
			<li><a href="{% url 'content-features' %}">{% trans "List of Features" %}</a></li>
			<li><a href="{% url 'content-pricing' %}">{% trans "Pricing" %}</a></li>
		</ul>
