{% load i18n %}{% if user.is_authenticated %}
	<a class="user-menu nav-link" href="#" data-toggle="dropdown" role="button"
	   aria-haspopup="true" aria-expanded="false" tabindex="2">
		<span class="user-wrapper">
			<i class="avatar far fa-user"></i>
			<span class="username">{{ user.username }}</span><br>
			<span class="realname">{{ user.first_name }} {{ user.last_name }}</span>
		</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="{% url 'socialaccount_connections' %}">{% trans "Profile" %}</a></li>
		<li><a class="dropdown-item" href="{% url 'socialaccount_connections' %}">{% trans "Settings" %}</a></li>
	{% if request.user.is_staff %}
		<li><a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %} <i class="fas fa-exclamation-triangle"></i></a></li>
	{% endif %}
		<li class="dropdown-divider" role="separator"></li>
		<li><a class="dropdown-item" href="{% url 'account_logout' %}" id="logout-link">{% trans "Sign out" %}</a></li>
	</ul>
	<form action="{% url 'account_logout' %}" id="logout-form" method="post">
		{% csrf_token %}{# NOTE: this form is used by JavaScript attached to the logout-link above #}
	</form>
{% else %}
	<a class="user-menu" href="{#% url 'account_login' %#}" role="button" aria-haspopup="false">
		<span class="user-wrapper">
			<i class="avatar fas fa-user-circle"></i>
			<span class="username">{% trans "Log in" %}</span><br>
			<span class="realname">{% trans "or register" %}</span>
		</span>
	</a>
{% endif %}
